---
const tabs = [
    {
        "title": "home",
        "content": "halo haldsadasdas asdasdasdaso",
    },
    {
        "title": "css 123",
        "content": "css haloscdscdsc dscs12312321312",
    },
    {
        "title": "script",
        "content": "script halosadasdas dasdasdasdasdas2",
    },
    {
        "title": "contact",
        "content": "contact sadasdasd us",
    },
];
---
<div class="tabs tabs-horizontal">
    <div class="tab-button-wrapper">
        {tabs.map(tab => 
      <button class="tab-button" data-id={tab.title}>{tab.title}</button>
        )}
    </div>
    <div class="tab-content-wrapper">
        {tabs.map(tab =>
        <p class="tab-content" id={tab.title}>
            {tab.content}
        </p>
        )}
    </div>
</div>